/* 모든 요소에 기본 margin, padding 제거 및 box-sizing 설정 */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   user-select: none;
}

html {
   scroll-behavior: smooth;
}

/* 목록 스타일 제거 */
li {
   list-style: none;
}

/* 링크 스타일 설정 */
a {
   text-decoration: none;
   font-size: 14px;
}

/* 기본적인 스타일을 설정 */
body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
}

body,
html {
   height: 100%;
   overflow: hidden;
}

section {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   text-align: center;
}
