/* section3 */
.new_menu {
   width: 1400px;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
}

.section3_content {
   width: 90%;
   height: 70%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ffffff;
   gap: 90px;
}

.menu_info {
   text-align: left;
}

.menu_info .sub_title {
   margin-bottom: 20px;
   font-size: 24px;
   padding-left: 5px;
}

.menu_info .bg_active {
   margin-top: 10px;
}

.menu_info h1 {
   font-size: 40px;
}

/* 기존 highlight 스타일 */
.highlight {
   background-color: #ff6363;
   color: rgb(255, 255, 255);
   padding: 0 20px;
   border-radius: 2px;
   display: inline-block;
   position: relative;
   overflow: hidden;
}

/* 애니메이션 효과 */
.highlight.show {
   animation: highlightAnimation 1s forwards;
}

@keyframes highlightAnimation {
   0% {
      transform: scaleX(0);
      transform-origin: left;
   }
   100% {
      transform: scaleX(1);
      transform-origin: left;
   }
}

#section3 h3,
#section3 h1,
#section3 p {
   color: black;
   text-align: left;
}

.menu_text1 {
   margin-top: 40px;
   margin-bottom: 30px;
   font-size: 22px;
}

.new_menu_info {
   font-size: 16px;
   line-height: 1.7;
}

.diff_menu {
   width: 200px;
   height: 60px;
   margin-top: 40px;
   cursor: pointer;
   font-size: 17px;
   background-color: #ff6363;
   border: none;
   color: white;
   border-radius: 10px;
}

.diff_menu:hover {
   background-color: #ff4d4d;
}

/* 메뉴 슬라이드 배너 */
.menu_box {
   width: 30%;
   height: 75%;
   position: relative;
   overflow: hidden;
   border-radius: 20px;
   border: solid 1px #797979;
   box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.15);
}

.slide-container {
   width: 100%;
   height: 100%;
   position: relative;
}

.slide-wrapper {
   display: flex;
   transition: transform 0.5s ease;
   height: 100%;
}

.slide {
   min-width: 100%;
   height: 100%;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.slide img {
   width: 100%;
   height: 70%;
   object-fit: cover;
}

.slide-text {
   padding: 10px 30px;
   text-align: center;
   height: 30%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-radius: 0 0 15px 15px;
}

.slide-text h3 {
   margin-bottom: 10px;
   color: #333;
}

.slide-text p {
   color: #666;
   font-size: 14px;
}

.slide-prev,
.slide-next {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background-color: transparent;
   color: #797979;
   border: none;
   padding: 10px;
   font-size: 20px;
   cursor: pointer;
   z-index: 10;
}

.slide-prev {
   left: 10px;
}

.slide-next {
   right: 10px;
}

/* 스크롤 애니메이션 CSS */
@keyframes slideInUp {
   from {
      opacity: 0;
      transform: translateY(100px); /* 요소를 아래로 100px 이동 */
   }
   to {
      opacity: 1;
      transform: translateY(0); /* 원래 위치로 */
   }
}

.animate-slide-in-up {
   animation: slideInUp 1s ease-out forwards;
   opacity: 0;
}

/* 초기 상태 설정 */
#section3 .menu_info,
#section3 .menu_box {
   opacity: 0;
}
