* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body,
html {
   height: 100%;
   overflow: hidden;
}

section {
   height: 100vh; /* 뷰포트 전체 높이 */
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   color: white;
   text-align: center;
}
